<div class="row">
  <h3>Profile Data</h3>
  <h4>
    <strong>Firstname:</strong>
    <%= @profile.firstname %>
  </h4>

  <h4>
    <strong>Lastname:</strong>
    <%= @profile.lastname %>
  </h4>

  <h4>
    <strong>Age:</strong>
    <%= @profile.age %>
  </h4>

  <h4>
    <strong>Country:</strong>
    <%= @profile.country %>
  </h4>

    <h4>
    <strong>State:</strong>
    <%= @profile.state %>
  </h4>

  <h4>
    <strong>City:</strong>
    <%= @profile.city %>
  </h4>

  <h4>
    <strong>Zipcode:</strong>
    <%= @profile.zipcode %>
  </h4>

  <hr>
  <h3>Housing Data</h3>
  <h4>
    <strong>Electricity Consumption: </strong>
    <% if @house.electricity? %>
      <%= @house.electricity %> kilowatts
    <% else %>
      No Data entered yet
    <% end %>
  </h4>
  <h4>
    <strong>Gas Consumption: </strong>
    <% if @house.gas? %>
      <%= @house.gas %> cubic feet
    <% else %>
      No Data entered yet
    <% end %>
  </h4>
  <h4>
    <strong>Fuel Consumption: </strong>
    <% if @house.fuel? %>
      <%= @house.fuel %> gallons
    <% else %>
      No Data entered yet
    <% end %>
  </h4>
  <h4>
    <strong>Water Consumption: </strong>
    <% if @house.water? %>
      <%= @house.water %> gallons
    <% else %>
      No Data entered yet
    <% end %>
  </h4>

  <hr>

  <%= link_to 'Edit House Data', edit_profile_house_path(@profile), class: "button success" %>
  <%= link_to 'Edit Profile Data', edit_profile_path(@profile), class: "button info" %>
  <%= link_to 'Back', profiles_path, class: "button secondary" %>
</div>
