<%= simple_form_for([@profile, @house], :url => profile_house_path(@profile)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :electricity %>
    <%= f.input :fuel %>
    <%= f.input :gas %>
    <%= f.input :water %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
